{% extends 'base.html' %}
{% block content %}
<ul class="coupons__list">
            {% for c in coup %}
            <li class="coupons__list-item">
                <div class="coupons__image-block">
                    <img src="/Claudius/staticC.jpg" height="173px" width="250px" alt="">
                </div>
                <form method="post">
                    <p class="coupons__cathegory">{{ c[1] }}</p>
                    <h3 class="coupons__name">{{ c[2] }}</h3>
                    <p class="coupons__price" name="coin">{{ c[4] }}</p>
                    <input hidden type="text" name="id_coup" value="{{ c[0] }}">
                    <input type="submit" class="coupons__sub" value="Обменять пряники">
                </form>
            </li>
            {% endfor %}
</ul>
{% endblock %}